In [1]:
# import modules
import numpy as np
import pandas as pd

In [2]:
# read dataset
data = pd.read_csv('winequality_clean.csv')

In [3]:
data.head()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2

As you can see this dataset has discrete levels in the output variable (quality). So rather than predicting a continuous output, we will be more interested in classifying the unseen data into any one of these discrete levels (generally). This is the classification task for which Logistic Regression is used.

## Building a Logistic Regression

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
# separate dependent and independent variables
X = data.drop(['ID', 'quality'], axis=1)
y = data.quality

In [6]:
X.isnull().sum()

fixed acidity             0
volatile acidity          0
citric acid             733
residual sugar            0
chlorides                 0
free sulfur dioxide       0
total sulfur dioxide      0
density                   0
pH                      844
sulphates               723
alcohol                   0
dtype: int64

In [7]:
# fill missing vales
X.fillna(X.mean(), inplace=True)

In [46]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20) #,random_state=42)

# define logistic regression
logReg = LogisticRegression()

# train model
logReg.fit(X_train, y_train)

# get predictions
pred = logReg.predict(X_test)

from sklearn.metrics import accuracy_score

# get accuracy
accuracy_score(y_test, pred)

0.7663265306122449

In [9]:
from sklearn.cross_validation import cross_val_score
CVscore=cross_val_score(LogisticRegression().fit(X, y),
                        X_train,y_train, cv = 10)
print(CVscore)
print(CVscore.mean())

[0.73979592 0.77806122 0.75510204 0.75       0.71428571 0.7755102
 0.73214286 0.73469388 0.74424552 0.74680307]
0.7470640430085078

In [10]:
X_train.shape

(3918, 11)

In [49]:
#to remove spaces in col names
df = data
df.columns = [c.replace(' ', '_') for c in data.columns]
display (df.head())
display (data.head())

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2