In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
data = pd.read_csv('student.csv')

In [5]:
data.head()

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Grade
0,SD0001,GP,F,18,U,GT3,A,4,4,at_home,...,no,no,NaN,3,4,1,1,3,NaN,1
1,SD0002,GP,F,17,U,GT3,T,1,1,at_home,...,yes,no,NaN,3,3,1,1,3,NaN,1
2,SD0003,GP,F,15,U,LE3,T,1,1,at_home,...,yes,no,NaN,3,2,2,3,3,10.0,2
3,SD0004,GP,F,15,U,GT3,T,4,2,health,...,yes,yes,3.0,2,2,1,1,5,2.0,3
4,SD0005,GP,F,16,U,GT3,T,3,3,other,...,no,no,4.0,3,2,1,2,5,4.0,2

In [6]:
data.shape

(395, 32)

In [7]:
data.isnull()[:5]

,ID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Grade
0,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
data.isnull().sum()

ID              0
school          0
sex             0
age             0
address         0
famsize         0
Pstatus         0
Medu            0
Fedu            0
Mjob            0
Fjob            0
reason          0
guardian        0
traveltime      0
studytime       0
failures        0
schoolsup       0
famsup          0
paid            0
activities     84
nursery         0
higher          0
internet        0
romantic        0
famrel        117
freetime        0
goout           0
Dalc            0
Walc            0
health          0
absences       58
Grade           0
dtype: int64

# Deletion

In [10]:
result = data.dropna(how = 'any')

In [11]:
result.isnull().sum()

ID            0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
Grade         0
dtype: int64

In [12]:
print('Before:' , data.shape , 'After:' , result.shape)

Before: (395, 32) After: (182, 32)

# Imputation of continuos values

In [13]:
data.absences.head()

0     NaN
1     NaN
2    10.0
3     2.0
4     4.0
Name: absences, dtype: float64

In [14]:
data.absences.mean()

5.8664688427299705

In [15]:
result = data['absences'].fillna(data.absences.mean())
result.head()

0     5.866469
1     5.866469
2    10.000000
3     2.000000
4     4.000000
Name: absences, dtype: float64

# Imputation for categorical variables

In [16]:
data.activities.head(10)

0     no
1     no
2     no
3    yes
4    NaN
5    yes
6     no
7    NaN
8     no
9    NaN
Name: activities, dtype: object

In [17]:
data.activities.mode()[0]

'yes'

In [19]:
result = data.activities.fillna(data.activities.mode()[0])

In [21]:
result.head(10)

0     no
1     no
2     no
3    yes
4    yes
5    yes
6     no
7    yes
8     no
9    yes
Name: activities, dtype: object